In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [4]:
train = pd.read_csv("fraudTrain.csv")
test = pd.read_csv("fraudTest.csv")
data = pd.concat([train,test])

In [5]:
data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [6]:
data.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06
mean,5.371934e+05,4.173860e+17,7.006357e+01,4.881326e+04,3.853931e+01,-9.022783e+01,8.864367e+04,1.358674e+09,3.853898e+01,-9.022794e+01,5.210015e-03
std,3.669110e+05,1.309115e+18,1.592540e+02,2.688185e+04,5.071470e+00,1.374789e+01,3.014876e+05,1.819508e+07,5.105604e+00,1.375969e+01,7.199217e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902742e+01,-1.666716e+02,0.000000e+00
25%,2.315490e+05,1.800429e+14,9.640000e+00,2.623700e+04,3.466890e+01,-9.679800e+01,7.410000e+02,1.343017e+09,3.474012e+01,-9.689944e+01,0.000000e+00
50%,4.630980e+05,3.521417e+15,4.745000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.443000e+03,1.357089e+09,3.936890e+01,-8.744069e+01,0.000000e+00
75%,8.335758e+05,4.642255e+15,8.310000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.374581e+09,4.195626e+01,-8.024511e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.992100e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.388534e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [7]:
print(train.shape)
print(test.shape)

(1296675, 23)
(555719, 23)

In [8]:
print(data.isnull().sum())

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [9]:
train.info

<bound method DataFrame.info of          Unnamed: 0 trans_date_trans_time               cc_num  \
0                 0   2019-01-01 00:00:18     2703186189652095
1                 1   2019-01-01 00:00:44         630423337322
2                 2   2019-01-01 00:00:51       38859492057661
3                 3   2019-01-01 00:01:16     3534093764340240
4                 4   2019-01-01 00:03:06      375534208663984
...             ...                   ...                  ...
1296670     1296670   2020-06-21 12:12:08       30263540414123
1296671     1296671   2020-06-21 12:12:19     6011149206456997
1296672     1296672   2020-06-21 12:12:32     3514865930894695
1296673     1296673   2020-06-21 12:13:36     2720012583106919
1296674     1296674   2020-06-21 12:13:37  4292902571056973207

                                    merchant       category     amt  \
0                 fraud_Rippin, Kub and Mann       misc_net    4.97
1            fraud_Heller, Gutmann and Zieme    grocery_pos  107.23
2                       fraud_Lind-Buckridge  entertainment  220.11
3         fraud_Kutch, Hermiston and Farrell  gas_transport   45.00
4                        fraud_Keeling-Crist       misc_pos   41.96
...                                      ...            ...     ...
1296670                    fraud_Reichel Inc  entertainment   15.56
1296671             fraud_Abernathy and Sons    food_dining   51.70
1296672                 fraud_Stiedemann Ltd    food_dining  105.93
1296673  fraud_Reinger, Weissnat and Strosin    food_dining   74.90
1296674  fraud_Langosh, Wintheiser and Hyatt    food_dining    4.30

               first       last gender                         street  ...  \
0           Jennifer      Banks      F                 561 Perry Cove  ...
1          Stephanie       Gill      F   43039 Riley Greens Suite 393  ...
2             Edward    Sanchez      M       594 White Dale Suite 530  ...
3             Jeremy      White      M    9443 Cynthia Court Apt. 038  ...
4              Tyler     Garcia      M               408 Bradley Rest  ...
...              ...        ...    ...                            ...  ...
1296670         Erik  Patterson      M       162 Jessica Row Apt. 072  ...
1296671      Jeffrey      White      M  8617 Holmes Terrace Suite 651  ...
1296672  Christopher  Castaneda      M     1632 Cohen Drive Suite 639  ...
1296673       Joseph     Murray      M           42933 Ryan Underpass  ...
1296674      Jeffrey      Smith      M           135 Joseph Mountains  ...

             lat      long  city_pop                                job  \
0        36.0788  -81.1781      3495          Psychologist, counselling
1        48.8878 -118.2105       149  Special educational needs teacher
2        42.1808 -112.2620      4154        Nature conservation officer
3        46.2306 -112.1138      1939                    Patent attorney
4        38.4207  -79.4629        99     Dance movement psychotherapist
...          ...       ...       ...                                ...
1296670  37.7175 -112.4777       258                       Geoscientist
1296671  39.2667  -77.5101       100   Production assistant, television
1296672  32.9396 -105.8189       899                    Naval architect
1296673  43.3526 -102.5411      1126              Volunteer coordinator
1296674  45.8433 -113.8748       218           Therapist, horticultural

                dob                         trans_num   unix_time  merch_lat  \
0        1988-03-09  0b242abb623afc578575680df30655b9  1325376018  36.011293
1        1978-06-21  1f76529f8574734946361c461b024d99  1325376044  49.159047
2        1962-01-19  a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704
3        1967-01-12  6b849c168bdad6f867558c3793159a81  1325376076  47.034331
4        1986-03-28  a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999
...             ...                               ...         ...        ...
1296670  1961-11-24  440b587732da4dc1a6395aba5fb41669  1371816728  36.841266
1296671  1979-12-11  278000d2e0d2277d1de2f890067dcc0a  1371816739  38.906881
1296672  1967-08-30  483f52fe67fabef353d552c1e662974c  1371816752  33.619513
1296673  1980-08-18  d667cdcbadaaed3da3f4020e83591c83  1371816816  42.788940
1296674  1995-08-16  8f7c8e4ab7f25875d753b422917c98c9  1371816817  46.565983

         merch_long  is_fraud
0        -82.048315         0
1       -118.186462         0
2       -112.154481         0
3       -112.561071         0
4        -78.632459         0
...             ...       ...
1296670 -111.690765         0
1296671  -78.246528         0
1296672 -105.130529         0
1296673 -103.241160         0
1296674 -114.186110         0

[1296675 rows x 23 columns]>

In [10]:
test.info

<bound method DataFrame.info of         Unnamed: 0 trans_date_trans_time            cc_num  \
0                0   2020-06-21 12:14:25  2291163933867244
1                1   2020-06-21 12:14:33  3573030041201292
2                2   2020-06-21 12:14:53  3598215285024754
3                3   2020-06-21 12:15:15  3591919803438423
4                4   2020-06-21 12:15:17  3526826139003047
...            ...                   ...               ...
555714      555714   2020-12-31 23:59:07    30560609640617
555715      555715   2020-12-31 23:59:09  3556613125071656
555716      555716   2020-12-31 23:59:15  6011724471098086
555717      555717   2020-12-31 23:59:24     4079773899158
555718      555718   2020-12-31 23:59:34  4170689372027579

                                    merchant        category     amt    first  \
0                      fraud_Kirlin and Sons   personal_care    2.86     Jeff
1                       fraud_Sporer-Keebler   personal_care   29.84   Joanne
2       fraud_Swaniawski, Nitzsche and Welch  health_fitness   41.28   Ashley
3                          fraud_Haley Group        misc_pos   60.05    Brian
4                      fraud_Johnston-Casper          travel    3.19   Nathan
...                                      ...             ...     ...      ...
555714                 fraud_Reilly and Sons  health_fitness   43.77  Michael
555715                  fraud_Hoppe-Parisian       kids_pets  111.84     Jose
555716                       fraud_Rau-Robel       kids_pets   86.88      Ann
555717                 fraud_Breitenberg LLC          travel    7.99     Eric
555718                     fraud_Dare-Marvin   entertainment   38.13   Samuel

            last gender                       street  ...      lat      long  \
0        Elliott      M            351 Darlene Green  ...  33.9659  -80.9355
1       Williams      F             3638 Marsh Union  ...  40.3207 -110.4360
2          Lopez      F         9333 Valentine Point  ...  40.6729  -73.5365
3       Williams      M  32941 Krystal Mill Apt. 552  ...  28.5697  -80.8191
4         Massey      M     5783 Evan Roads Apt. 465  ...  44.2529  -85.0170
...          ...    ...                          ...  ...      ...       ...
555714     Olson      M          558 Michael Estates  ...  40.4931  -91.8912
555715   Vasquez      M          572 Davis Mountains  ...  29.0393  -95.4401
555716    Lawson      F   144 Evans Islands Apt. 683  ...  46.1966 -118.9017
555717   Preston      M   7020 Doyle Stream Apt. 951  ...  44.6255 -116.4493
555718      Frey      M     830 Myers Plaza Apt. 384  ...  35.6665  -97.4798

        city_pop                     job         dob  \
0         333497     Mechanical engineer  1968-03-19
1            302  Sales professional, IT  1990-01-17
2          34496       Librarian, public  1970-10-21
3          54767            Set designer  1987-07-25
4           1126      Furniture designer  1955-07-06
...          ...                     ...         ...
555714       519            Town planner  1966-02-13
555715     28739          Futures trader  1999-12-27
555716      3684                Musician  1981-11-29
555717       129            Cartographer  1965-12-15
555718    116001             Media buyer  1993-05-10

                               trans_num   unix_time  merch_lat  merch_long  \
0       2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714
1       324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431
2       c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111
3       2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061
4       57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734
...                                  ...         ...        ...         ...
555714  9b1f753c79894c9f4b71f04581835ada  1388534347  39.946837  -91.333331
555715  2090647dac2c89a1d86c514c427f5b91  1388534349  29.661049  -96.186633
555716  6c5b7c8add471975aa0fec023b2e8408  1388534355  46.658340 -119.715054
555717  14392d723bb7737606b2700ac791b7aa  1388534364  44.470525 -117.080888
555718  1765bb45b3aa3224b4cdcb6e7a96cee3  1388534374  36.210097  -97.036372

        is_fraud
0              0
1              0
2              0
3              0
4              0
...          ...
555714         0
555715         0
555716         0
555717         0
555718         0

[555719 rows x 23 columns]>

In [11]:
print(data.columns)

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [12]:
from sklearn.preprocessing import LabelEncoder
label_encoders = {}

label_encode_cols =['merchant', 'category','gender','state','job']
for col in label_encode_cols:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le
    
    train[col] = le.fit_transform(train[col])
    label_encoders[col] = le

    test[col] = le.fit_transform(test[col])
    label_encoders[col] = le

In [13]:
data['trans_date_trans_time'] = pd.to_datetime(data['trans_date_trans_time'])
data['dob'] = pd.to_datetime(data['dob'])

data['transaction_year'] = data['trans_date_trans_time'].dt.year
data['transaction_month'] = data['trans_date_trans_time'].dt.month
data['transaction_day'] = data['trans_date_trans_time'].dt.day
data['transaction_hour'] = data['trans_date_trans_time'].dt.hour

data['birth_year'] = data['dob'].dt.year
data['birth_month'] = data['dob'].dt.month
data['birth_day'] = data['dob'].dt.day
data.drop(['trans_date_trans_time','dob'], axis = 1, inplace=True)

In [14]:
train['trans_date_trans_time'] = pd.to_datetime(train['trans_date_trans_time'])
train['dob'] = pd.to_datetime(train['dob'])

train['transaction_year'] = train['trans_date_trans_time'].dt.year
train['transaction_month'] = train['trans_date_trans_time'].dt.month
train['transaction_day'] = train['trans_date_trans_time'].dt.day
train['transaction_hour'] = train['trans_date_trans_time'].dt.hour

train['birth_year'] = train['dob'].dt.year
train['birth_month'] = train['dob'].dt.month
train['birth_day'] = train['dob'].dt.day
train.drop(['trans_date_trans_time','dob'], axis = 1, inplace=True)

In [15]:
test['trans_date_trans_time'] = pd.to_datetime(test['trans_date_trans_time'])
test['dob'] = pd.to_datetime(test['dob'])

test['transaction_year'] = test['trans_date_trans_time'].dt.year
test['transaction_month'] = test['trans_date_trans_time'].dt.month
test['transaction_day'] = test['trans_date_trans_time'].dt.day
test['transaction_hour'] = test['trans_date_trans_time'].dt.hour

test['birth_year'] =test['dob'].dt.year
test['birth_month'] = test['dob'].dt.month
test['birth_day'] = test['dob'].dt.day
test.drop(['trans_date_trans_time','dob'], axis = 1, inplace=True)

In [16]:
data.drop(['first','last','street','city','trans_num'], axis=1, inplace=True)
train.drop(['first','last','street','city','trans_num'], axis=1, inplace=True)
test.drop(['first','last','street','city','trans_num'], axis=1, inplace=True)

In [17]:
print(train.shape)
print(test.shape)
print(data.shape)

(1296675, 23)
(555719, 23)
(1852394, 23)

In [18]:
print(data.head(0))
print(data.head())

Empty DataFrame
Columns: [Unnamed: 0, cc_num, merchant, category, amt, gender, state, zip, lat, long, city_pop, job, unix_time, merch_lat, merch_long, is_fraud, transaction_year, transaction_month, transaction_day, transaction_hour, birth_year, birth_month, birth_day]
Index: []

[0 rows x 23 columns]
   Unnamed: 0            cc_num  merchant  category     amt  gender  state  \
0           0  2703186189652095       514         8    4.97       0     27
1           1      630423337322       241         4  107.23       0     47
2           2    38859492057661       390         0  220.11       1     13
3           3  3534093764340240       360         2   45.00       1     26
4           4   375534208663984       297         9   41.96       1     45

     zip      lat      long  ...  merch_lat  merch_long  is_fraud  \
0  28654  36.0788  -81.1781  ...  36.011293  -82.048315         0
1  99160  48.8878 -118.2105  ...  49.159047 -118.186462         0
2  83252  42.1808 -112.2620  ...  43.150704 -112.154481         0
3  59632  46.2306 -112.1138  ...  47.034331 -112.561071         0
4  24433  38.4207  -79.4629  ...  38.674999  -78.632459         0

   transaction_year  transaction_month  transaction_day  transaction_hour  \
0              2019                  1                1                 0
1              2019                  1                1                 0
2              2019                  1                1                 0
3              2019                  1                1                 0
4              2019                  1                1                 0

   birth_year  birth_month  birth_day
0        1988            3          9
1        1978            6         21
2        1962            1         19
3        1967            1         12
4        1986            3         28

[5 rows x 23 columns]

In [19]:
print(data.describe())

         Unnamed: 0        cc_num      merchant      category           amt  \
count  1.852394e+06  1.852394e+06  1.852394e+06  1.852394e+06  1.852394e+06
mean   5.371934e+05  4.173860e+17  3.429269e+02  6.230569e+00  7.006357e+01
std    3.669110e+05  1.309115e+18  2.010519e+02  3.913273e+00  1.592540e+02
min    0.000000e+00  6.041621e+10  0.000000e+00  0.000000e+00  1.000000e+00
25%    2.315490e+05  1.800429e+14  1.660000e+02  3.000000e+00  9.640000e+00
50%    4.630980e+05  3.521417e+15  3.460000e+02  6.000000e+00  4.745000e+01
75%    8.335758e+05  4.642255e+15  5.140000e+02  1.000000e+01  8.310000e+01
max    1.296674e+06  4.992346e+18  6.920000e+02  1.300000e+01  2.894890e+04

             gender         state           zip           lat          long  \
count  1.852394e+06  1.852394e+06  1.852394e+06  1.852394e+06  1.852394e+06
mean   4.521959e-01  2.666711e+01  4.881326e+04  3.853931e+01 -9.022783e+01
std    4.977097e-01  1.432946e+01  2.688185e+04  5.071470e+00  1.374789e+01
min    0.000000e+00  0.000000e+00  1.257000e+03  2.002710e+01 -1.656723e+02
25%    0.000000e+00  1.500000e+01  2.623700e+04  3.466890e+01 -9.679800e+01
50%    0.000000e+00  2.700000e+01  4.817400e+04  3.935430e+01 -8.747690e+01
75%    1.000000e+00  3.800000e+01  7.204200e+04  4.194040e+01 -8.015800e+01
max    1.000000e+00  5.000000e+01  9.992100e+04  6.669330e+01 -6.795030e+01

       ...     merch_lat    merch_long      is_fraud  transaction_year  \
count  ...  1.852394e+06  1.852394e+06  1.852394e+06      1.852394e+06
mean   ...  3.853898e+01 -9.022794e+01  5.210015e-03      2.019501e+03
std    ...  5.105604e+00  1.375969e+01  7.199217e-02      4.999996e-01
min    ...  1.902742e+01 -1.666716e+02  0.000000e+00      2.019000e+03
25%    ...  3.474012e+01 -9.689944e+01  0.000000e+00      2.019000e+03
50%    ...  3.936890e+01 -8.744069e+01  0.000000e+00      2.020000e+03
75%    ...  4.195626e+01 -8.024511e+01  0.000000e+00      2.020000e+03
max    ...  6.751027e+01 -6.695090e+01  1.000000e+00      2.020000e+03

       transaction_month  transaction_day  transaction_hour    birth_year  \
count       1.852394e+06     1.852394e+06      1.852394e+06  1.852394e+06
mean        7.152067e+00     1.585076e+01      1.280612e+01  1.973289e+03
std         3.424954e+00     8.876245e+00      6.815753e+00  1.739057e+01
min         1.000000e+00     1.000000e+00      0.000000e+00  1.924000e+03
25%         4.000000e+00     8.000000e+00      7.000000e+00  1.962000e+03
50%         7.000000e+00     1.600000e+01      1.400000e+01  1.975000e+03
75%         1.000000e+01     2.400000e+01      1.900000e+01  1.987000e+03
max         1.200000e+01     3.100000e+01      2.300000e+01  2.005000e+03

        birth_month     birth_day
count  1.852394e+06  1.852394e+06
mean   6.526735e+00  1.566482e+01
std    3.398164e+00  8.887820e+00
min    1.000000e+00  1.000000e+00
25%    4.000000e+00  8.000000e+00
50%    7.000000e+00  1.500000e+01
75%    9.000000e+00  2.300000e+01
max    1.200000e+01  3.100000e+01

[8 rows x 23 columns]

In [20]:
print(data.isnull().sum())

Unnamed: 0           0
cc_num               0
merchant             0
category             0
amt                  0
gender               0
state                0
zip                  0
lat                  0
long                 0
city_pop             0
job                  0
unix_time            0
merch_lat            0
merch_long           0
is_fraud             0
transaction_year     0
transaction_month    0
transaction_day      0
transaction_hour     0
birth_year           0
birth_month          0
birth_day            0
dtype: int64

In [21]:
X = data.drop('is_fraud', axis=1)
y = data['is_fraud']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
log_model= LogisticRegression(max_iter=1000)
log_model.fit(X_train,y_train)
y_pred = log_model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.9947284461467452

C:\Users\dell\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\dell\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00    368526
           1       0.00      0.00      0.00      1953

    accuracy                           0.99    370479
   macro avg       0.50      0.50      0.50    370479
weighted avg       0.99      0.99      0.99    370479

[[368526      0]
 [  1953      0]]

C:\Users\dell\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [24]:
tree_model= DecisionTreeClassifier()
tree_model.fit(X_train,y_train)
y_pred = tree_model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.9980322771331168
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    368526
           1       0.80      0.84      0.82      1953

    accuracy                           1.00    370479
   macro avg       0.90      0.92      0.91    370479
weighted avg       1.00      1.00      1.00    370479

[[368109    417]
 [   312   1641]]

In [ ]:
ensemble_model= RandomForestClassifier()
ensemble_model.fit(X_train,y_train)
y_pred = ensemble_model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))